<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em Contato!</h2>
                <hr class="primary">
                <p>Ficou com alguma dúvida? Envie um email para gente com seus questionamentos ou sugestões e responderemos o mais rápido possível!</p>
            </div>
            <div class="col-lg-12 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p><a href="mailto:feedback@paranoidlabs.com.br">feedback@paranoidlabs.com.br</a></p>
            </div>
        </div>
    </div>
</section>
