{% extends 'squeeze_base.html' %}


{% block title %}Entenda seu SPED{% endblock title %}

{% block call_to_action%}
<h1>Analise seu arquivo SPED usando o Excel</h1>
{% endblock %}


{% block about_text %}
Titan ipsum dolor sit amet, consectetur adipiscing elit. Proin magna massa, blandit in interdum quis, porttitor nec dolor. Ut sit amet sem ornare, maximus mauris et, auctor tellus. Curabitur eu sem ac nisi facilisis placerat non nec ante. Sed volutpat libero mi, a congue dolor tempor sit amet. Aliquam vel consectetur felis. Vestibulum tempor tristique nibh non dapibus. Ut eu pellentesque lorem, sed tempor orci. Proin eu posuere risus. Integer pharetra felis sapien, ac convallis ipsum interdum sit amet.
{% endblock %}

{% block explainer %}{% endblock %}

{% block form %}
<form id="id_optin_form" method="POST" action="{% url 'receive_squeezejob' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Analisar arquivo">
</form>
{% endblock %}

{% block contact %}{% endblock %}
