{% extends 'squeeze_base.html' %}


{% block title %}Entenda seu SPED{% endblock title %}
{% block navbar-brand %}Paranoid Labs{% endblock %}


{% block form %}
<form class="form-horizontal" role="form" id="id_optin_form"
    method="POST" action="{% url 'receive_squeezejob' %}"
    enctype="multipart/form-data">

  {% csrf_token %}

  <div class="form-group">
    <label for={{form.name.id_for_label}}>{{form.name.label}}</label>
    {{form.name}}
  </div>

  <div class="form-group">
    <label for={{form.email.id_for_label}}>{{form.email.label}}</label>
    {{form.email}}
  </div>
  <label for={{form.audit.id_for_label}}>Escolha o tipo do seu arquivo SPED:</label>
  {% for radio in form.audit %}
    <div class="radio">
        {{ radio }}
    </div>
  {% endfor %}

  <label class="file">
    {{ form.document }}
    <span class="file-custom"></span>
  </label>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Converter</button>
  </div>

</form>
{% endblock %}



