{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block stylesheets %}{% endblock stylesheets %}
    <title>{% block title %}Titan{% endblock title %}</title>
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    media="screen">
    {% include 'google_analytics.html' %}
</head>

<body>
    <div class="container">

        {% block call_to_action%}{% endblock %}
        <p id="id_about_text">{% block about_text %}{% endblock %}</p>
        {% block explainer %}{% endblock %}
        {% block form %}{% endblock %}
        {% block success_text %}{% endblock %}
        {% block contact %}{% endblock %}
    </div>
</body>
</html>
