{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head-squeeze.html" %}
    {% include "google-analytics.html" %}
    <title>{% block title %}{% endblock %}</title>

</head>

<body id="page-top">

    {% include "navbar-squeeze.html" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><span class="typed"></span>seu SPED no Excel</h1>
                <hr>
                <p>A maneira mais fácil, rápida e inteligente de analisar seus arquivos SPED.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Como assim?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Chega de Dúvidas</h2>
                    <hr class="light">
                    <p class="text-faded">
                    Agora você pode analisar e conferir todas as informações de seus arquivos SPED com total segurança, privacidade e agilidade.
                    Nosso conversor de arquivos SPED <strong><u>gratuito</u></strong> é capaz de gerar um arquivo Excel com todos os blocos dos dos arquivos
                    sped.
                    </p>

                    <p><strong>Fique tranquilo, seus dados estão protegidos.</strong>
                    <br><i class="fa fa-3x fa-lock" ></i></p>

                    <a href="#upload-form" class="btn btn-default btn-xl wow tada page-scroll">Analisar SPED Agora!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Veja como é fácil</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>1. Upload</h3>
                        <p class="text-muted">Envie seu documento SPED com segurança através do formulário abaixo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-inbox wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>2. Receba em seu e-mail</h3>
                        <p class="text-muted">Você receberá uma notificação por email assim que a conversão ficar pronta.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud-download wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>3. Download</h3>
                        <p class="text-muted">Abra o link recebido via email para fazer o download do seu arquivo Excel.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-gray" id="upload-form">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Envie seu Arquivo Sped</h2>
                {% block form %}{% endblock %}
                <p id="sub-button-text">Conversão 100% segura e privada.</p>
                <p><i class="fa fa-2x fa-lock" ></i></p>

            </div>
        </div>
    </aside>

    {% include "contact-squeeze.html" %}

    <!-- jQuery -->
    <script src="{% static "squeeze/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "squeeze/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "squeeze/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "squeeze/js/jquery.fittext.js" %}"></script>
    <script src="{% static "squeeze/js/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "squeeze/js/creative.js" %}"></script>

    <!-- typed.js-->
    <script src="{% static "squeeze/js/typed.js" %}"></script>
    {% include "typed-js.html" %}

</body>

</html>
