{% extends "success_base.html" %}


{% block title %}Arquivos Enviados com Sucesso{% endblock title %}


{% block job-info %}
<div class="col-md-6" id="job-container">
  <div class="job-info">
    <p class="schedule-info">Conversão em andamento <i class="fa fa-check" ></i></p>
    <dl>
      <dt>Nome</dt>
      <dd>{{ squeezejob.real_user_name }}</dd>

      <dt>Email de envio</dt>
      <dd>{{ squeezejob.real_user_email }}</dd>

      <dt>Recebido em </dt>
      <dd>{{ squeezejob.created_at|date:"d/m/Y - H:i"}}</dd>

      <dt>Exclusão automática em</dt>
      <dd>{{ squeezejob.expires_at|date:"d/m/Y - H:i"}}</dd>
    </dl>
  </div>
</div>

<div class="col-md-6">
  <div class="job-info">
    <p class="schedule-info">Próximos passos:</p>
    <p class="explainer">Nos próximos minutos você receberá um <em>email</em> com o link para download de sua planilha.</p>
    <p class="explainer">Após a data de expiração o link será <em>desativado</em>, e todos os seus dados fiscais serão exluídos permanentemente de nossos servidores.</p>
</div>
{% endblock %}
