celery==3.1.18
Django==1.9
-e git+https://github.com/rbarrois/factory_boy.git#egg=factory_boy
gunicorn==19.3.0
pandas==0.17.1
python-magic==0.4.6
tables==3.2.2
openpyxl==2.3.0
Markdown==2.6.4
selenium==2.53.2
Unipath==1.1
django-widget-tweaks==1.4.1
PyYAML==3.11
