{% extends 'base.html' %}


{% block title %}{{ audit.name }} | Titan{% endblock title %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1 id="id_audit_name">{{ audit.name }}</h1>
            <small id="id_audit_description">{{ audit.description }}</small>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <form class="form-inline document-upload-form" method="POST" action="">
            {{ formset.management_form }}

            {% for form in formset %}
            <div class=form-group>
                {{ form }}
            </div>
            <hr>
            {% endfor %}

        </form>
    </div>
</div<

{% endblock content %}
