#id_app_title, .navbar-brand {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

h1 span.glyphicon {
    padding-left: 0.3em;
}

dl small {
    padding-left: 1em;
}

a.btn.pull-right {
    margin: 0 .3em;
}
