.bg-gray{
    background-color: #E0E0E0;
    color: #ff2d00;
}

.bg-gray i {
    color: gray;
}

legend {
    color: gray;
    font-size: 16px;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
}

#sub-button-text {
    margin: 10px;
    color: black;
    font-size: 12px;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
}

header .header-content .header-content-inner {
    max-width: 1200px;
}

aside#upload-form {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
}

/* Contact section imported from agency.css */


section#contact {
  background-color: #222222;
  background-image: url('./squeeze/img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
