#steps-container {
    background-color: #eee;
    width: 100% ;
}
#steps-row {
    margin: 0px 5%;
    padding: 15px 15px;
}

hr.step-hr{
    border-color: black;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  /* text-align: center; */
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
