{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link href="{% static "accounts.css" %}" rel='stylesheet' type='text/css'>
{% endblock stylesheets %}


{% block title %}Titan{% endblock title %}



{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <div class="text-center">
        <h1 id="id_app_title"> 
          {% block header_text %}Titan{% endblock %}</h1>
      <form class="form-group" method="POST" >
        {% csrf_token %}
        <p>{{ form.email }}</p>
        <p>{{ form.password }}</p>
        <input type="submit" value="Login" />
        
      </form>
    
    </div>
  </div>
</div>
{% endblock content %}
