{% extends 'base.html' %}

{% block title %}Minhas Análises{% endblock title %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <div class="page-header">
            <h1>Minhas Análisess</h1>
        </div>
        <div id="id-job-list">
            {% if not jobs %}
            <p>Você ainda não criou nenhuma análise. Clique no botão <strong>Nova Análise</strong> para criar a sua primeira.</p>
            {% else %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <caption>Análises criadas por você.</caption>
                    <thread><tr>
                        <th>#</th>
                        <th>Validação</th>
                        <th>Criada em</th>
                        <th>Status</th>
                        <th>Relatório</th>
                    </tr></thread>
                    <tbody>
                    {% for job in jobs %}
                    <tr class="job-row">
                        <td>{{ job.pk }}</td>
                        <td>{{ job.audit.name }}</td>
                        <td>{{ job.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ job.get_state_display }}</td>
                        <td>
                            {% if job.get_report_url %}
                            <a class="download-link" href="{% url 'download_report_file'  job.pk %}" download>Baixar Relatório</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        <a id="id-return-home-btn" href="{% url 'home_page' %}" class="btn btn-primary pull-right" role="button">Página Principal</a>
        <a id="id-new-job-btn" href="{% url 'home_page' %}" class="btn btn-default pull-right" role="button">Nova Análise</a>
    </div>
</div>
{% endblock content %}
